@import '../../styles/variables';

.IndexView {
  min-height: 100vh;
  background-color: #E0E1E2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
    margin-top: -25px;
    transition: all 2s;
    transform: translateX(0) translateY(0);
    cursor: pointer;

    // &:hover {
    //   transform: translateX(-300px) translateY(100px);
    // }
  }

  &__text {
    width: 80%;
    text-align: right;
  }
}
