@import '../../styles/variables';

html {
  perspective: 1000px;
}

.IndexView {
  min-height: 100vh;
  background-color: #E0E1E2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-top: -25px;
    width: 50%;
    transition: all 2s;
    transform: translateX(0) translateY(0);
    cursor: pointer;

    &:hover {
      transform: translateX(-300px) translateY(100px);
    }
  }

  &__text {

  }
}
